.section {
  position: relative;
  background-color: #f6f9fc;
  color: var(--text-color-dark);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.wrapper {
  display: flex;
  gap: 250px;
  margin-left: clamp(0px, 15vw, 300px);
}



/*grid containern*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  max-width: 500px;
  justify-content: flex-start;
  margin-top: 175px;
  padding: 0;
  grid-row-gap: 100px;
  grid-column-gap: 50px;
  z-index: 10;
}

/*ändrar font sizen bereonde på fönsterbredden*/
.grid-item {
  font-size: clamp(0.5rem, 8.5vw, 3rem);
  font-weight: 600;
}

.button:hover {
  background-color: var(--text-color-dark);
  cursor: pointer;
  transition: 0.3s;
}

.grid-item > img {
  width: 60px;
}

.grid-item > h3 {
  font-size: clamp(0.5rem, 8vw, 4rem);
}
.grid-item > p {
  font-weight: 300;
  font-size: clamp(0.5rem, 6vw, 1.5rem);

  margin-top: 15px;
}

.grid-item > h4 {
  font-weight: 600;
  font-size: clamp(0.5rem, 7vw, 2.5rem);

  margin-top: 15px;
}
.grid-item:nth-child(1) {
  grid-column: 1 / span 2;
}
.grid-item:nth-child(2) {
  grid-column: 1;
}
.grid-item:nth-child(3) {
  grid-column: 2;
}

.image-container > img {
  width: 500px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  margin-bottom: 2rem;
  border: 10px solid #635bff;
}

.image-container {
  z-index: 1;
  margin-top: 75px;
}

.button-container {
  margin-top: 48px;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .container {
    display: block;
    grid-row-gap: 300px;
  }

  .grid-item {
    margin-top: 100px;
  }

  .wrapper {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-left: clamp(0px, 8vw, 300px);
  }

  .image-container > img {
    width: 300px;
  }
}
